<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>formDemo.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>Form Demo</h1>
    <form>
      <fieldset>
        <legend>Add An Item</legend>
        <p>
          <label>Item</label>
          <input type = "text"
                 id = "myText"
                 value = "" />
        </p>
        <p>
          <label>Price</label>
          <input type = "text"
                  id = "myPwd"
                  value = "" />
        </p>
      </fieldset>
    </form>
  </body>
</html>
